
#wrap{
    width:100%;
    height:100%;
    overflow: hidden;

}

.globalWrap{
    width:250px;
    height:100vh;
    position:fixed;
    left:-160px;
    top:0;
    z-index:99;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s;

    .globalNav {
        width:160px;
        height:100vh;
        box-shadow:0px 0px 10px;
        top:0;
        // left:-10%;
        // position:fixed;
        background-color:white;
    

        
        h2 {
            width:100%;
            height:150px;
            position: relative;
            border-bottom:1px solid #Eee;
        }
        a{
            width:100%;
            height:100%;
            display:block;
            position: relative;
            background-image: url(../img/logo.png);
            background-size:35%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .subNav {
            width:100%;
            height:auto;

            div {
                width:100%;
                height:50px;
                border-top:1px solid #Eee;
                display:flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size:12px;
                font-weight:bold;
            }
        .subOn {
            background-color:purple;
            color:orange;
        }
        }
    }
    .globalOpen {
        margin-top:150px;
        width:70px;
        height:70px;
        background-image: url(../img/lnb_icon_open.png);
        cursor: pointer;
        transition: all 0.52s;
    }
}




.toggleOpen {
    left:0;
}
#headerGroup{
    width:100%;
    height:250px;
    #navGroup {
        width:100%;
        height:52px;
        .navList {
            width:98%;
            height:100%;
            display:flex;
            justify-content: flex-end;
            align-items: center;
            li {
                float:left;
                margin-right:20px;
                color:black;
                font: {
                    size:10px;
                    weight:bold;
                }
                li:before {
                    content : '';
    
                }
            }
        }
    }

    #header {
        width:100%;
        height:193px;
        .innerHead {
            width:1130px;
            height:55%;
            margin:0 auto;
            display:flex;
            align-items: flex-end;
            .inputLogo {
                width:180px;
                height:35px;
                margin-bottom:10px;
                background: {
                    image:url(../img/inputLogo.png);
                    size:cover;
                    position:center;
                    repeat:no-repeat;
                }
            }

                form{
                    position: relative;
                    input {
                        width:540px;
                        height:50px;
                        color:#666;
                        border-radius: 10px;
                        font-size:20px;
                        margin-left:30px;
                        content:'\f002';
                    }
                    i {
                        cursor: pointer;
                        font-size:30px;
                        position: absolute;
                        top:50%;
                        right:5%;
                        transform: translateY(-50%);
                    }
            }
        }
        .bottomHead {
            width:1130px;
            height:47%;
            margin:0 auto;
            display:flex;
            align-items: flex-end;
            .headCategory {
                // width:16%;
                width:180px;
                height:50%;
                background-color: black;
                color:White;
                box-sizing: content-box;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            
            .headEvent {
                width:910px;
                // width:80%;
                height:50%;
                margin-left:35px;
                display:flex;
                > div {
                    width:20%;
                    height:100%;
                    box-sizing: border-box;
                    display:flex;
                    align-items: center;
                    justify-content: space-around;
                    cursor: pointer;
                    .leftImg {
                        width:36px;
                        height:36px;
                        border-radius: 50%;
                        
                    }
                    .rightText {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:70%;
                        height:100%;
                        font-size:11px;
                    }
                    .weightOn {
                        font-weight:bold;
                    }
                }
                > div:nth-of-type(1){
                    .leftImg{
                        background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/b63Ht.png)

                    }
                }
                > div:nth-of-type(2){
                    .leftImg{
                        background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/TFPuy.png)
                    }
                }
                > div:nth-of-type(3){
                    .leftImg{
                        background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0711/6BEbd.png)
                    }
                }
                > div:nth-of-type(4){
                    .leftImg{
                        background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0707/j80K0.png)
                    }
                }
                > div:nth-of-type(5){
                    .leftImg{
                        background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0608/KhUNz.png)
                    }
                }
                .controlBtn{
        
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        width: 32px;
                        height: 32px;
                        background-color: white;
                        margin-right:10px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        border: {
                            radius:50%;
                            width:1px;
                            style:solid;
                            color:#eee;
                        }
                    }
                }
            }

        }
    }
}

#container {
    width:100%;
    height:auto;
    overflow: hidden;

    // height:100%;
    #contents {
        width:100%;
        height:100%;
        overflow: hidden;
        #slideBanner{
            width:100%;
            height:400px;
            background:#ED4901;
            overflow: hidden;
            .slideWrap {
                width: 100%;
                height:400px;
                display:flex;
                align-items: center;
                justify-content: center;
                position:absolute;
                overflow: hidden;
                //
            }
            .containerSlide {
                width:480px;
                height:304px;
                background-color:white;
                margin-right:50px;
                position: absolute;
                display:flex;
                justify-content: center;
                align-items: center;
                .warping {
                    width:90%;
                    height:80%;
                    display:flex;
                    flex-flow:row;
                    justify-content: space-between;
                    .textWrap {
                        width:50%;
                        span{
                            display:block;
                            padding-bottom:20px;
                            font-size:13px;
                        }
                    }
                    .imgWrap {
                        width:40%;
                        height:100%;
                        img {
                            width:100%;
                            height:100%;
                            box-shadow: 8px 8px 8px #eee;;
                        }
                    }
                }
                
            }

            .subCategoryWrap {
                width:1130px;
                heighT:100%;
                margin:0 auto;
                display:flex;
                align-items: flex-start;
                position: relative;
                .upSideCategory {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                }
                .upSideCategory1 {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                    background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/vUtz6.png);
                }
                .upSideCategory2 {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                    background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/Vy9Xy.png);
                    display:none;
                }
                .upSideCategory3 {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                    background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0711/Cj11p.png);
                    display:none;
                }
                .upSideCategory4 {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                    background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0711/sJz17.png);
                    display:none;
                }
                .upSideCategory5 {
                    width:780px;
                    height:400px;
                    left:180px;
                    position: absolute;
                    background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0608/XmcoV.png);
                    display:none;
                }



                .subCategory {
                    width:180px;
                    height:100%;

                    ul{
                        width:100%;
                        height:100%;
                        display:flex;
                        flex-flow:column wrap;
                        background-color:rgba(0,0,0,0.2);
                        overflow:hidden;
                        li{
                            width:100%;
                            height:57px;
                            color:white;
                            margin:0 auto;
                            display:flex;
                            align-items: center;
                            cursor: pointer;
                            justify-content: center;
                            font: {
                                weight:bold;
                            }
                        }
                        li:hover {
                             background-color:black;
                        }
                    }
                }
            }
        }
        #main{
            // background:linear-gradient(to bottom,#E4E4F4 ,#fff);
            @mixin btwflex {
                display:flex;
                flex-flow:column wrap;
                justify-content: space-between;
            };

            @mixin eveflex {
                display:flex;
                flex-flow:column wrap;
                justify-content: space-evenly;
            } 
            width:100%;
            height:100%;
            margin:0 auto;
            background-color:white;
            > div {
                margin-top:80px;
                .head {
                    h2 {
                        color:black;
                    }
                }
            }
            .mainWrap1 {
                margin:50px auto;
                width:1130px;
                height:470px;
                @include btwflex;
                .head{
                    width:100%;
                    height:30px;
                    display:flex;
                    align-items: center;
                    h2{
                        margin-right:20px;
                    }
                }
                .info{
                    width:100%;
                    height:403px;
                    

                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    .book {
                        width:23%;
                        height:100%;
                        background-color:rgba(255,255,255,0.4);
                        border-radius: 10px;

                        display:flex;
                        flex-flow:column wrap;
                        justify-content: center;
                        align-items: center;
                        img{
                            margin-bottom: 50px;
                            width:160px;
                            height:225px;
                        }
                        p{
                            font-size:14px;
                            margin-bottom:10px;
                        }
                        h3{
                            font-size:16px;
                            margin-bottom:10px;
                            color:black;
                        }
                        span{
                            font-size:12px;

                        }
                    }
                }
            }

            .mainWrap2 {
                margin:50px auto;
                width:1130px;
                height:848px;
                
                display:flex;
                flex-flow:row wrap;
                align-content: space-between;
                border-bottom:1px solid #eee;
                .head{
                    width:100%;
                    height:30px;
                    border-bottom:1px solid #eee;
                    border:none;
                }
                .main2BestSeller {
                    width:100%;
                    height:768px;
                    @include btwflex;
                    .main2Category {
                        width:100%;
                        height:35px;
                        cursor: pointer;
                        align-items: center;
                        @include eveflex;
                        div{
                            width:156px;
                            height:35px;
                            text-align: center;
                            border-radius:20px;
                            border:1px solid #eee;
                            @include eveflex;
                            color:#333;
                        }
                        .on {
                            background-color: darkblue;
                            color:White;
                        }
                    }
                    .main2BestInfo {
                        width:100%;
                        height:714px;
                        @include btwflex;
                        flex-flow:row wrap !important;
                        .leftMenu {
                            width:25%;
                            // width:283px;
                            height:100%;
                            display: flex;
                            flex-flow:column wrap;
                            align-items: flex-start;
                            justify-content: flex-start;
                            font-size:14px;
                            line-height: 40px;;
                            div{
                                width:100%;
                                height:50px;
                                cursor: pointer;
                                border-bottom: 1px solid #eee;;
                            }
                            .onBorder {
                                border-bottom: 3px solid black;
                            }
                        }
                        .rightImg {
                            width:71%;
                            height:100%;
                            @include btwflex;
                            flex-flow:row wrap;
                            align-items: center;
                            > div {
                                width:140px;
                                height:307px;
                                position:relative;
                                > div:not(.imgInfo){
                                    position:absolute;
                                    width:30px;
                                    height:30px;
                                    left:0;
                                    top:-5%;
                                    background-color:darkblue;
                                    color:white;
                                    displaY:flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .imgInfo{
                                    .upImg{
                                        width:100%;
                                        height:65%;
                                        border:1px solid #eee;
                                        img{
                                            width:100%;
                                            height:100%;
                                        }
                                    }
                                    .downText{
                                        height: 70%;
                                        h3{
                                            font-size:16px;
                                        }
                                        span{
                                            font-size:10px;
                                        }
                                    }
                                }
                                > div:not(.numb) {
                                }
                            }
                        }
                    }
                }
                
            }
            
            .mainWrap3 {
                margin:50px auto;
                width:1130px;
                height:556px;
                @include btwflex;
                > .head{
                    border-bottom:1px solid #eee;
                    h2{

                    }
                    p{
                        margin-top: 10px;
                        margin-bottom: 15px;;
                    }
                }
                .main3Book {
                    width:100%;
                    height:307px;
                    @include btwflex();
                    align-content: space-between;
                    align-items: center;
                    >div {
                        width:140px;
                        heighT:100%;

                        .main3Img {
                            width:100%;
                            height:65%;
                            border:1px solid #eee;
                            img{
                                width:100%;
                                height:100%;

                            }
                        }
                        .main3Text {
                            width:100%;
                            height:35%;
                            display:flex;
                            align-items: flex-end;
                            .txtWrap {
                                height: 70%;
                                h3{
                                    font-size:16px;
                                }
                                span{
                                    font-size:10px;
                                }
                            }
                            
                        }
                    }
                }
                .bookApply {
                    width:100%;
                    height:90px;
                    @include btwflex();
                    background: {
                        image : url(../img/applyImg.png)
                    };
                    .wantU {
                        width:20%;
                        height:100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .plz{
                        width:70%;
                        height:100%;
                        display:flex;
                        align-items: center;
                    }
                }
            }

            .mainWrap4 {
                margin:50px auto;
                width:1130px;
                height:506px;
                @include btwflex;
                > .head{
                    border-bottom:1px solid #eee;

                    p{
                        margin-top: 10px;
                        margin-bottom: 15px;;
                    }
                }
                .main3Book {
                    width:100%;
                    height:307px;
                    @include btwflex();
                    align-content: space-between;
                    align-items: center;
                    >div {
                        width:140px;
                        heighT:100%;

                        .main3Img {
                            width:100%;
                            height:65%;
                            border:1px solid #eee;
                            img{
                                width:100%;
                                height:100%;

                            }
                        }
                        .main3Text {
                            width:100%;
                            height:35%;
                            display:flex;
                            align-items: flex-end;
                            .txtWrap {
                                height: 70%;
                                h3{
                                    font-size:16px;
                                }
                                span{
                                    font-size:10px;
                                }
                            }
                            
                        }
                    }
                }
                .bookApply {
                    width:100%;
                    height:90px;
                    @include btwflex();
                    background: {
                        image : url(../img/applyImg2.png)
                    }
                }
            }

            .mainWrap6 {
                margin:50px auto;
                width:1130px;
                height:367px;
                @include btwflex();

                .main6Item {
                    width:100%;
                    height:307px;
                    @include btwflex();
                    align-content: space-between;
                    align-items: center;
                    >div {
                        width:140px;
                        heighT:100%;

                        .main6Img {
                            width:100%;
                            height:65%;
                            border:1px solid #eee;
                            img{
                                width:100%;
                                height:100%;

                            }
                        }
                        .main6Text {
                            width:100%;
                            height:35%;
                            display:flex;
                            align-items: flex-end;
                            .txtWrap {
                                height: 70%;
                                h3{
                                    font-size:16px;
                                }
                                span{
                                    font-size:10px;
                                }
                            }
                            
                        }
                    }
                }
            }

            .mainWrap7 {
                margin:50px auto;
                width:100%;
                height:63px;
                background-color: rgb(185, 39, 230); 
               .main7Inner{
                    width:1130px;
                    height:100%;
                    background-color: purple;
                    color:White;
                    margin:0 auto;
               }
            }


            .mainWrap8 {
                width:100%;
                height:572px;
                @include btwflex();
                .head{
                    margin:0 auto;
                    width:1130px;
                    display:flex;
                    align-items: center;
                    h2{
                        margin-right:20px;
                    }
                }
                .main8Slide {
                    width:100%;
                    height:512px;
                    position: relative;;
                    .btnControlWrap {
                        position:absolute;
                        width:1300px;
                        height:100px;
                        left:50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                        i {
                            display:none
                        }
                        .prev {
                            font-size:70px;
                            position:absolute;
                            left:0;
                            top:50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                        .next {
                            font-size:70px;
                            position:absolute;
                            right:0;
                            top:50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                    }
                    .coverWrap{
                        width:100%;
                        height:464px;
                    }
                    .slideScreen {
                        width:1130px;
                        height:464px;
                        margin:0 auto;
                        overflow: hidden;
                        position: relative;
                        ul {
                            width:3390px;
                            display: flex;
                            flex-flow:row wrap;
                            justify-content: space-around;
                            li {
                                border:1px solid #eee;
                                width:555px;
                                height:460px;
                                float:left;
                                display: flex;
                                flex-flow:row wrap;
                                justify-content: space-around;
                                align-items: center;
                                .upBg {
                                    width:525px;
                                    height:310px;
                                    border:1px solid #eee;
                                    display: flex;
                                    flex-flow:row nowrap;
                                    justify-content: space-around;
                                    align-items: center;
                                    background-color: #222;
                                    .upBgLeft{
                                        width:40%;
                                        height:100%;
                                        display: flex;
                                        flex-flow:row nowrap;
                                        justify-content: space-around;
                                        align-items: flex-start;
                                        
                                        h3 {
                                            color:White;
                                            margin-top:50px;
                                        }
                                    }
                                    .upBgRight{
                                        width:30%;
                                        height:100%;
                                        display: flex;
                                        flex-flow:row nowrap;
                                        justify-content: space-around;
                                        align-items: flex-end;
                                        img {
                                            width:140px;
                                            height:220px;
                                        }
                                    }
                                }
                                .downTxt{
                                    width:525px;
                                    height: 86px;

                                    display: flex;
                                    flex-flow:column wrap;
                                    justify-content: space-between;
                                    align-items: flex-start;
                                    h3 {
                                        font-size:24px;
                                        width:50%;
                                    }
                                    span {
                                        font-size:12px;
                                        color:#777;
                                    }
                                }
                            }
                        }
                    }
                    .arrayBtn {
                        width:1130px;
                        height:30px;
                        position:absolute;
                        bottom:0;
                        left:50%;
                        transform: translateX(-50%);
                        display: flex;;
                        align-items: center;
                        justify-content: center;
                        div {
                            border-radius: 50%;
                            width:20px;
                            height:20px;
                            margin-right: 10px;
                            border:1px solid black;
                            cursor: pointer;
                        }
                        .btnOn {
                            background-color: black;
                        }
                    }
                }
            }

            .mainWrap9 {
                width:1130px;
                height:356px;
                margin:50px auto;
                @include btwflex();
                .head{
                    margin:0 auto;
                    width:1130px;
                }
                .main9Event {
                    width:100%;
                    height:296px;
                    @include btwflex();
                    flex-flow:row wrap;
                    align-items: center;
                    div {
                        width:275px;
                        height:143px;
                        .innerWrap {
                            width:90%;
                            height:80%;
                            margin:20px auto;
                            font-weight:bold;
                            font-size:13px;
                        }
                        background: {
                            size:cove;
                            position:center;
                        }
                    }
                    > div:nth-of-type(1){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2021/0701/3Pd06.png)
                    }
                    > div:nth-of-type(2){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0208/swHVk.png)
                    }
                    > div:nth-of-type(3){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0623/sI9UK.png)
                    }
                    > div:nth-of-type(4){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2020/0804/g2zKf.png)
                    }
                    > div:nth-of-type(5){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2021/0803/LhIXq.png)
                    }
                    > div:nth-of-type(6){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2020/0224/Q4QTg.png)
                    }
                    > div:nth-of-type(7){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2021/1022/GDTSs.png)
                    }
                    > div:nth-of-type(8){
                        background-image: url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2020/0804/8CZjl.png)
                    }
                }
                
            };

            .mainWrap10 {
                width:100%;
                height:776px;
                position:relative;
                .main10BgColor {
                    width:100%;
                    height:400px;
                    background-color:lightpink;
                    position:absolute;
                    top:0;
                }

                .main10Inner {
                    width:842px;
                    height:100%;
                    margin: 0 auto;
                    @include btwflex();
                    > div:nth-of-type(1){
                        width:100%;
                        height:190px;
                        display:flex;
                        align-items: center;
                        position:relative;

                        h2{
                            font-weight:normal;
                            color:white;
                            font-size:38px;
                        }

                        .price {
                            right:0;
                            position:absolute;
                            width:160px;
                            height:56px;
                            h3{
                                font-size:38px;
                                color:white;
                            }
                            span{
                                color:white;
                                float:right;
                            }
                        }
                    }
                    > div:nth-of-type(2){
                        width:100%;
                        height:96px;
                        z-index:9;
                        p{
                            z-index:9;
                            width:79%;
                            color:white;
                            strong {
                                color:white;
                            }
                        }
                        .link {
                            display:block;
                            color:white;
                            z-index:9;
                            margin-top:20px;
                        }
                    }
                    > div:nth-of-type(3){
                        width:100%;
                        height:271px;
                        @include btwflex();
                        flex-flow:row wrap;
                        div{
                            z-index:9;
                            width:266px;
                            height:266px;
                            border-radius: 15px;
                            box-shadow:0px 5px 5px #eee;
                            background-color:white;


                        }
                        div:nth-of-type(1) {
                            background: {
                                image: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/2021/main/bunchul_01.png);
                                size:cover;
                                position:center;
                            }
                        }
                        div:nth-of-type(2) {
                            background: {
                                image: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/2021/main/bunchul_02.png);
                                size:cover;
                                position:center;
                            }
                        }
                        div:nth-of-type(3) {
                            background: {
                                image: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/2021/main/bunchul_03.png);
                                size:cover;
                                position:center;
                            }
                        }
                    }
                    > div:nth-of-type(4){
                        width:100%;
                        height:112px;
                        margin:0 auto;
                        border-top:1px solid #eee;
                        border-bottom:1px solid #eee;
                    }
                }
            }
            .mainWrap11{
                margin:50px auto;
                width:1130px;
                height:489px;
                img {
                    background: {
                        image: url(../img/main11_Img.gif);
                        size: cover;
                        position: center
                    };
                }
            }
            .mainWrap12{
                width:1130px;
                height:744px;
                margin:50px auto;

                .main12Head {
                    margin-bottom:30px;
                }
                .main12Promotion {
                    width:100%;
                    height:569px;
                    margin:0 auto;
                    display:flex;
                    flex-flow:row nowrap;
                    justify-content: center;
                    align-items: center;

                    .promotionWrap {
                        width:100%;
                        height:100%;
                        display:flex;
                        flex-flow:row nowrap;
                        justify-content: center;
                        align-items: center;
                        // border:20px solid black;
                        cursor:pointer;

                        .firstWrap{
                            width:65%;
                            height:100%;
                            // border-right:15px solid black;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .lastWrap {
                            width:35%;
                            height:100%;
                            displaY:flex;
                            flex-flow:row wrap;
                            align-items: center;
                            justify-content: space-evenly;
                            div{
                                width:49%;
                                height:33%;
                                // width:170px;
                                // height:160px;
                            }
                            div:nth-of-type(1) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/2.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                            div:nth-of-type(2) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/3.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                            div:nth-of-type(3) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/4.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                            div:nth-of-type(4) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/5.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                            div:nth-of-type(5) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/6.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                            div:nth-of-type(6) {
                                background: {
                                    image:url(https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0328/2741/7.jpg);
                                    size:cover;
                                    position:center;
                                }
                            }
                        }
                    }
                }
                .bottomImage {
                    float:right;
                    width:10%;
                    height:75px;
                    display:flex;
                    align-items: center;
                    justify-content: space-evenly;
                    div {
                        width:36px;
                        height:36px;
                        border:1px solid #777;
                        display:flex;
                        align-items: center;
                        justify-content: space-evenly;
                        font-size:23px;
                        cursor:pointer;
                        i{
                            color:#777
                        }
                    }
                }
            }
        }
    }
}

.footOnBox {
    width:100%;
    height:60px;
    box-sizing: border-box;
    border: {
        top:1px solid #eee;
        bottom:1px solid #eee;
    }
    .onBoxInner{
        width:1130px;
        height:100%;
        margin:0 auto;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        div {
            height:18px;
            display:flex;
            align-items: center;
            i{
                margin-right:10px;
            }
            span{
                display:block;
                
            }
        }
        .onBoxOne{
            width:180px;
            margin-right:40px;
            span{
                font: {
                    weight:bold;
                }
            }
        }
        .onBoxTwo{
            width:850px;
            font: {
                size:14px;
            }
        }
        .onBoxThree{
            width:60px;
            span{
                displaY:block;
                width:100%;
                font: {
                    size:14px;
                }
            }
        }
    }
}

#footer{
    width:100%;
    height:150px;
    displaY:flex;
    justify-content: center;
    align-items: center;
    .innerFoot {
        margin:0 auto;
        width:1130px;
        height:70px;
        display:flex;
        flex-flow:row wrap;
        align-items: center;
        justify-content: space-between;
        .footLogo {
            width:130px;
            height:26px;

            background: {
                image:url(../img/inputLogo.png);
                size:cover;
                position:center;
                repeat:no-repeat;
            }
        }
        .footTxt {
            width:930px;
            height:100%;

            ul {
                width:100%;
                height:100%;
                display:flex;
                flex-flow:column wrap;
                justify-content: space-between;
                li{
                    width:100%;
                    height:17px;
                }
            }
        }
    }
}